<!DOCTYPE html>
<html lang="en" ng-app="univjam">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UnivJam</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

    <link href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <script src="https://cdn.jsdelivr.net/angular.youtube-embed/0.4.3/ng-youtube-embed.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/PlaylistsIndexController.js"></script>
    <script src="/scripts/controllers/PlaylistsShowController.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-link" href="/">univJam
            <i class="glyphicon glyphicon-headphones"></i>
          </a>
          <button class="navbar-toggle collapse" data-target="#navcol-1" data-toggle="collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navcol-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active" role="presentation">
              <a href="/playlist">Playlists</a>
            </li>
            <li role="presentation">
              <a href="#">Sign Up</a>
            </li>
            <li class="presentation">
              <a href="#">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="jumbotron hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-2 col-md-pull-3 get-it">
            <h1 class="text-center">univJam</h1>
          </div>
        </div>
      </div>
    </div> -->
    <div ng-view></div>
  </body>
</html>
