<!DOCTYPE html>
<html lang="en" ng-app="univjam">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UnivJam</title>

    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/PlaylistsIndexController.js"></script>
    <script src="/scripts/controllers/PlaylistsShowController.js"></script>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
    
  </head>
  <body>
    <div class="menu-bar">
      <h1><a href="/">univJam</a></h1>
      <ul>
        <li><a href="/playlist">My Playlists</a></li>
      </ul>
    </div>
    <div ng-view></div>
  </body>
</html>
