<!DOCTYPE html>
<html lang="en" ng-app="univjam">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UnivJam</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

    <link href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>


    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/PlaylistsIndexController.js"></script>
    <script src="/scripts/controllers/PlaylistsShowController.js"></script>
  </head>
  <body>
    <div class="nav">
      <h1><a href="/">univJam</a></h1>
      <ul>
        <li><a href="/playlist">My Playlists</a></li>
      </ul>
    </div>
    <div ng-view></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  </body>
</html>
