<!-- <ul>
  <li ng-repeat="playlist in playlists | orderBy: 'created' | filter: search">
    <a href="/playlist/:id">
      <h3>{{playlist.name}} - {{playlist.length}}</h3>
    </a>
    <div class="remove" ng-click="removePlaylist(playlist)">X</div>
  </li>
</ul> -->
<!-- <form ng-submit="addPlaylist(playlist)">
  <input type="text" placeholder="Add a Playlist" ng-model="newplaylist.name">
  <input type="submit" value="Add new Playlist">
</form> -->
