<div class="content">
  <div ng-controller="UnivJamController">
    <h1>Profile</h1>
    <hr>
    <h2>Hey {{user.name}}!</h2>
    <hr>
    <h2>My Playlists:</h2>
    <input type="text" ng-model="search" placeholder="Search for a playlist">
    <ul>
      <li ng-repeat="playlist in playlists | orderBy: 'created' | filter: search">
        <a href="/playlist/:id">
          <h3>{{playlist.name}} - {{playlist.length}}</h3>
        </a>
        <div class="remove" ng-click="removePlaylist(playlist)">X</div>
      </li>
    </ul>
    <form ng-submit="addPlaylist(playlist)">
      <input type="text" placeholder="Add a Playlist" ng-model="newplaylist.name">
      <input type="submit" value="Add new Playlist">
    </form>
    <a class="logout" href="/logout" class="btn btn-danger">Log Out</a>
  </div>
</div>
