.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}
