<div class="jumbotron hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-size: 200px; color: white;" class="title">univJam</h1>
        <p style="color:white; font-size: 50px;" class="text-center">Listen to whatever, wherever, whenever.</p>
        <p class="text-center"> </p>
        <p></p>
      </div>
    </div>
  </div>
</div>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row icon-features">
          <div class="col-md-2 col-md-offset-2 col-xs-4 icon-feature"><i class="fa fa-soundcloud"></i><h3>Anything</h3>
          </div>
          <div class="col-md-2 col-md-offset-1 col-xs-4 icon-feature"><i class="fa fa-spotify"></i>
            <h3>Anywhere</h3>
          </div>
          <div class="col-md-2 col-md-offset-1 col-xs-4 icon-feature"><i class="fa fa-youtube-play"></i>
            <h3>Anytime</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 50px 0;" class="col-md-12">
    <h2 style="padding: 20px 10%; margin-bottom: 50px;" class="text-center">univJam allows you to create universal playlists using your favorite songs from your favorite sites so you or anyone can Jam out.</h2>
  </div>
  <p class="text-center">It's all a work in progress. Like most works of art, they take time.</p>
</section>
<section class="testimonials">
  <h2 class="text-center">People Love It!</h2>
  <blockquote>
    <p>"It exists"</p>
    <footer>Famous tech website</footer>
  </blockquote>
</section>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-4 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  </div>
</footer>
