<div class="content">
  <p>home page</p>
  <div data-video="savCAd6RyPI"
    data-autoplay="0"
    data-loop="0"
    id="youtube-audio">
  </div>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
 </div>
</div>
