<h4>{{playlistsShowCtrl.playlist.name}}</h4>
<div>
  <h4>{{playlistsShowCtrl.playlist.name}}</h4>
    <div>
      <div ng-repeat="song in playlistsShowCtrl.playlist.songs">
        <p>{{song.name}}</p>
        <button type="button" class="btn btn-danger" ng-click="playlistsShowCtrl.deleteSong(song)"><span class="glyphicon glyphicon-remove"></span>Delete Song</button>
      </div>
      <div>
        <input ng-model="playlistsShowCtrl.newSong.name" placeholder="Track name" type="text" class="form-control input-md">
        <button type="button" class="btn btn-success" ng-click="playlistsShowCtrl.createSong()"><span class="glyphicon glyphicon-plus"></span> Add Song</button>

      </div>
    </div>
</div>
