
    <form class="form-horizontal" ng-submit="playlistsIndexCtrl.createPlaylist()">
        <div class="form-group">
          <label class="col-md-4 control-label">Playlist Name</label>
            <input id="name" ng-model="playlistsIndexCtrl.newPlaylist.name" type="text" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Save Playlist</label>
          <div class="col-md-4">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>

<input type="text" class="form-control" ng-model="searchText" placeholder="Search Playlists">
<div ng-repeat="playlist in playlistsIndexCtrl.playlists">
    <div class="panel panel-default">
        <a ng-href="playlists/{{playlist._id}}">{{playlist.name}}</a>
          <div class='panel-footer'>
            <div class='panel-footer'>
              <button class='btn btn-danger' ng-click="playlistsIndexCtrl.deletePlaylist(playlist)">Delete Playlist</button>
              <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Playlist</button>
              <button class='btn btn-success' ng-show="editing" ng-click="playlistsIndexCtrl.editPlaylist(playlist); editing = false">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
